#if($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

## Return the updated message
#set($msg = $ctx.stash.updatedMessage)
{
  "messageId": "$msg.messageId",
  "role": "$msg.role",
  "content": $util.toJson($msg.content),
  "timestamp": "$msg.timestamp",
  "judgeRatings": $util.toJson($msg.judgeRatings)
}
