# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Lambda build artifacts
lambda/node_modules/
lambda/dist/
lambda/package.zip
lambda/package-lock.json
